:root {
  --cor-primaria: #d69d08; 
  --cor-primaria-hover: #eab11d;
  --cor-escura: #222222;
  --cor-texto: #333333;
  --cor-branca: #ffffff;
  --borda-suave: 8px;
  --sombra-padrao: 0 4px 12px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--cor-texto);
  background-color: #fafafa;
}

/* Navbar */

/* ================= HEADER E NAVEGAÇÃO ================= */
.navbar {
  width: 100%;
  height: 64px;

  background-color: #292929;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 18px;

  color: white;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-area img {
  width: 120px;
  height: 85px;
  object-fit: contain;

}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text strong {
  font-size: 18px;
  letter-spacing: 1.5px;
}

.logo-text span {
  font-size: 9px;
  font-weight: bold;
  color: var(--cor-primaria);
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links {
  color: #d5d5d5;
  text-decoration: none;

  font-size: 16px;
  font-weight: bold;

  padding: 9px 13px;

  border-radius: 5px;
}

.links:hover {
  background-color: #d69d08;
  color: #222; 
}

.acoes {
  display: flex;
  align-items: center;
  gap: 15px;
}

.carrinho, .encomenda {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #ddd ;

  display: flex;
  align-items: center;
  gap: 8px;
}

.carrinho {
  color: #ddd;
}

.carrinho:hover {
  color: var(--cor-primaria);
}

.contador {
  background-color: var(--cor-primaria);
  color: var(--cor-escura);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 9px;
}
